name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
      with:
        path: podenv
    - uses: actions/checkout@v2
      with:
        repository: podenv/hub
        path: hub
    - uses: cachix/install-nix-action@v13
    - run: cd podenv; nix-build --attr podenv
    - run: ./podenv/result/bin/podenv --config ./hub/package.dhall --list
